<p id="notice"><%= notice %></p>

<p>
  <strong>File:</strong>
  <%= image_tag @image.file.url, width:'200px' %>
</p>

<p>
  <strong>Label:</strong>
  <%= @image.label %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
